body {
  background-color: #ffffe0 !important;
}

footer {
  margin-top: 2rem;
}
.recordButtons{
  margin-top: -1.5rem;
}

.recordContainer {
  margin-top: 1rem;
}

.preloadedContainer {
  margin-top: 1rem;
}

.finalAudioContainer {
  margin-top: 1rem;
}

.scriptContainer {
  margin-top: 1rem;
}

.preloadedContainers {
  margin: 1rem;
}

.boxAudiosContainer {
  width: 100%;
  height: 5rem;
  background-color: darkslategrey;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.boxAudios {
  border: 3px solid rgb(17, 19, 21);
  background-color: rgb(84, 83, 109);
  border-radius: .3em;
  margin-top: 1rem;
  padding: 10px;
  height: 3rem;
  cursor: move;
  position: relative;
}

.label {
  width:200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 1rem;
}

.label:hover {
  white-space: normal;
}

.labelContainer {
  padding-top: 0.5rem;
}

#finalLineLabel {
  text-align: right;
  padding-top: 1.5rem;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  background: url('audento-mixer/volume.png');
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  background: url('audento-mixer/volume.png');
  cursor: pointer;
}